<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>PaliIME</string>
    <key>CFBundleIdentifier</key>
    <string>org.pali.inputmethod.PaliIME</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>PaliIME</string>
    <key>CFBundleDisplayName</key>
    <string>Pali</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>LSBackgroundOnly</key>
    <true/>

    <!-- InputMethodKit registration -->
    <key>InputMethodConnectionName</key>
    <string>PaliIME_Connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>PaliController</string>

    <key>ComponentInputModeDict</key>
    <dict>
        <key>tsInputModeListKey</key>
        <dict>
            <key>org.pali.inputmethod.PaliIME.mode</key>
            <dict>
                <key>TISInputSourceID</key>
                <string>org.pali.inputmethod.PaliIME.mode</string>
                <key>TISIntendedLanguage</key>
                <string>pi</string>
                <key>tsInputModeAlternateMenuTitleStringKey</key>
                <string>Pali</string>
                <key>tsInputModeDefaultStateKey</key>
                <true/>
                <key>tsInputModeIsVisibleKey</key>
                <true/>
                <key>tsInputModeKeyEquivalentKey</key>
                <string></string>
                <key>tsInputModeKeyEquivalentModifiersKey</key>
                <integer>0</integer>
                <key>tsInputModePrimaryInScriptKey</key>
                <true/>
                <key>tsInputModeScriptKey</key>
                <string>smRoman</string>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
